attrs>=21.2.0
colorama>=0.4.4
influxdb-client[ciso]>=1.21.0
pint~=0.17
git+git://github.com/akx/python-pushover.git@no-2to3#egg=python-pushover
PyYAML>=6.0
regex>=2021.4.4
tenacity~=7.0.0
tzlocal>=2.1
urllib3>=1.15.1
